@model SocialSite.Models.Users


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4e6b50c3ce.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <section>
            @using (Html.BeginForm("Register_User", "InstagramAccount"))
            {
                <label for="uname"><b>Name</b></label>
                <input type="text" placeholder="Enter Name" name="uname" @*required*@>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" @*required*@>

                <label for="psw"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="eid" @*required*@>
                <input type="submit" value="Sign Up"/>
            }
        </section>

        <br />
        <p>Have an account sign in</p>
        @Html.ActionLink("Sign In", "LoginUser", "InstagramAccount")
        @*<a class="nav-link text-dark" asp-controller="InstagramAccount" asp-action="UserDetails"> User Details </a>*@
    </div>
</body>
</html>