@model IEnumerable<SocialSite.Models.Users>


<div class="mt-5 mx-5">
    @if (ViewBag.error == null)
    {
        <ul class="list-group">
            @foreach (var item in Model)
            {

            <li class="list-group-item search-result-item">
                <div>
                    <p>@Html.DisplayFor(modelItem => item.Name)</p>
                    <!--<span>bio</span>-->
                </div>

                <div class="search-result-item-btn">
                    @Html.ActionLink("Follow", "sendFriendRequest", "Friends", new { User_Id = item.Id }, null)
                </div>
                <div class="search-result-item-btn">
                    @Html.ActionLink("DeleteFriendRequest", "deleteFriendRequest", "Friends", new { User_Id = item.Id }, null)
                </div>

            </li>
            }
        </ul>

    }
    else
    {
        <p>@ViewBag.error</p>
    }





</div>