@model IEnumerable<SocialSite.Models.Users>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container p-3">
        <div class="row pt-4">

            <div class="col-6">
                User Details
            </div>
        </div>
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        USER ID
                    </th>
                    <th>
                        Email ID
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.EmailId</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</body>
</html>